<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Holiday Shopping Bill</title>

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

		<!-- The main CSS file -->
		<link href="style.css" rel="stylesheet" />

	</head>

	<!-- Designates new AngularJS app and includes the controller -->
	<body ng-app ng-controller="HolidayShoppingBillController">

		<form>

			<h1>Gifts</h1>

			<ul>
				<!-- Loops through the gifts array, assigns a click handler, and sets or
					removes the "active" css class if needed -->
				<li ng-repeat="gift in gifts" ng-click="toggleActive(gift)" ng-class="{active:gift.active}">
					<!-- Currency filter added, $ will be affixed to price -->
					{{gift.name}} <span>{{gift.price | currency}}</span>
				</li>
			</ul>

			<div class="total">
				<!-- Real-time calculation of total cost in $ using currency filter -->
				Total: <span>{{total() | currency}}</span>
			</div>

		</form>

		<!-- Adds AngularJS from Google's CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>